# GitHub Linguist overrides for Lateralus source files.
#
# Forces GitHub to label .ltl files as "Lateralus" regardless of
# upstream Linguist status. See:
#   https://github.com/bad-antics/lateralus-lang/tree/main/docs/linguist

*.ltl    linguist-language=Lateralus
*.ltl    linguist-detectable=true
*.ltlm   linguist-language=Lateralus
*.ltlml  linguist-language=Lateralus
*.ltasm  linguist-language=Lateralus
*.ltlcfg linguist-language=Lateralus
*.ltlnb  linguist-language=Lateralus
*.ltlc   linguist-language=Lateralus
*.ltbc   linguist-language=Lateralus linguist-generated=true
